/* CSS Document */

body {
    margin:0;
    padding:0;
	font-family: Verdana;
	font-size: 10px;
	color:#333333;
	background-color:#ffffff; 

}
a {
	font-family: Verdana;
	font-size: 10px;
	text-decoration:none;
	color:#be0107;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration:none;
}

.hidefocus { 
	outline:0; -moz-outline:0; border:0; 
}


#mainTabLogDate {
	margin-top:10%;
	font-size:10px;
}

#mainTabLog {
	margin-top:2px;
/*	
	border-width:1px;
	border-style:solid;
	border-color:#be0107
	*/
}
#leftLogSite {
	background-image:url(../image/tacos_logo_8.png);
	background-repeat:no-repeat;
	background-position:bottom left;	
	width:370px;
	height:377px;
	padding-left:5px;

}
#rightLogSite {
	background-image:url(../image/right_login_bg.png);
	background-repeat:no-repeat;
	background-position:bottom left;
}


#MainTab {
	max-width:1421px; 
	overflow:hidden;
	

  	
}
#MainBodyContent {
	width:100%;
	max-width:1600px;
	padding-left:5px;
}

#LeftContainerPanel {
	width:15%;
	padding-left:5px;
	
}
	
#ContentContainer {
	width:65%;
}

#RightContainerPanel {
	width:20%;
}

#Block {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#B5B5B5;
	
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#B5B5B5;
	
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#B5B5B5;	
	
	margin-top:5px;	
}
#BlockHead {
	background-color:#B5B5B5;	
	background-image: url('../image/listpoint.ico');
	background-repeat:no-repeat;
	background-position:top left;
	padding-left:16px;
}

#BlockContent {
	padding:2px;	
	
	width:100%;
	border-width:1px;
	border-style:solid;
	border-color:#B5B5B5;
}


/*
	Kalender Style
*/
#weekday {
	text-align:center;

}
#weekdayTimetable {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#B5B5B5;
	
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#B5B5B5;
	
	width:14%;
}
#weekdayTimetableZ {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#B5B5B5;
	
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#B5B5B5;
	
	width:6px;
}
weekdayZ {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#B5B5B5;
	
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#B5B5B5;
	
	width:6px;
}

#userInfo {
	width:100%;
	
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#B5B5B5;
	
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#B5B5B5;		
}

#buttonLogout {
	background-image:url(../image/logout.png);
	
	background-repeat:no-repeat;	
	width:29px;
	height:10px;
	border-width:0px;
	background-color:#000000;
	color:#000000;
}


/*
TESt
*/


#TEST01 {
	background-color:#57FF3D;

}
#TEST02{
	background-color:#D0FF00;

}
#TEST03{
	background-color:#C90015;

}

#navRegTab {
	text-align:center;
	width:14%;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#B5B5B5;

}
#navRegTab1 {
	text-align:center;
	border-width:1px;
	border-style:solid;
	border-color:#B5B5B5;
	width:14%;
	

}
#navRegTab2 {
	text-align:center;
	text-align:center;
	
	border-width:1px;
	border-style:solid;
	border-color:#B5B5B5;
	
	width:14%;
}
#navRegTab3 {
	text-align:center;
	text-align:center;
	border-width:1px;
	border-style:solid;
	border-color:#B5B5B5;
	width:14%;
	background-color:#E0E0E0;
}
#monthDayBox {
    margin:2px;
    width:14.2%;
    height:70px;
    background-color:#E2DCE2;
    border-width:1px;
    border-style:solid;
    border-color:black;
    float:left;
    vertical-align:top;

}
#monthDayBoxGreen {
    margin:2px;
    width:14.2%;
    height:70px;
    background-color:#00D900;
    border-width:1px;
    border-style:solid;
    border-color:black;
    float:left;
    vertical-align:top;
}

#rosterViewDayHeadSelbox {
    width:300px;
    padding:5px;
}

#rosterViewDayHeadline{
    
}