/* CSS Document */

body {
    margin:0;
    padding:0;
	font-family: Verdana;
	font-size: 10px;
	color:#333333;
	background-color:#ffffff; 

}
a {
	font-family: Verdana;
	font-size: 10px;
	text-decoration:none;
	color:#ffffff;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
a:active {
	text-decoration:none;
}

.hidefocus { 
	outline:0; -moz-outline:0; border:0; 
}


#mainTabLogDate {
	margin-top:10%;
	font-size:10px;
}

#mainTabLog {
	margin-top:2px;
/*	
	border-width:1px;
	border-style:solid;
	border-color:#be0107
	*/
}
#leftLogSite {
	background-image:url(../image/tacos_logo_8.jpg);
	background-repeat:no-repeat;
	background-position:bottom left;	
	width:370px;
	height:377px;
	padding-left:5px;
	padding-bottom:5px;
	

}
#rightLogSite {
	background-image:url(../image/right_login_bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom left;
	padding-right:5px;
}
#meldungstext {
	color:#ffffff;
	font-size:110%;
	width:290px;
	vertical-align:middle;
	text-align:center;
	padding:5px;
	border-width:2px;
	border-style:solid;
	border-color:#B5B5B5;	
}
#loginPanel {
	/* background-color:#ffffff; 
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	*/
}