<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="at.rc.tacos.client.ui.splash.LoginSplashHandler"
            id="at.rc.tacos.client.ui.splash">
      </splashHandler>
      <splashHandlerProductBinding
            productId="at.rc.tacos.client.ui.product"
            splashId="at.rc.tacos.client.ui.splash">
      </splashHandlerProductBinding>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.rc.tacos.client.clientApp"
            name="Client Product">
         <property
               name="appName"
               value="Client Product">
         </property>
         <property
               name="aboutText"
               value="Austrian Red Cross.&#x0A;Time and Coordination System - Client Software.&#x0A;Developed by Birgit Thek and Heiß Michael.&#x0A;(c) 2007-2008 FH-Joanneum / ITM">
         </property>
         <property
               name="windowImages"
               value="icons/application/alt_window_16.gif,icons/application/alt_window_32.gif,icons/application/alt_window_48.gif,icons/application/alt_window_64.gif,icons/application/alt_window_128.gif">
         </property>
      </product>
   </extension>

</plugin>
