/*******************************************************
 	Font rules
 *******************************************************/
.bold {
	font-weight: bold
}

.italic {
	font-style: italic;
}

h2.title {
	font-size: 1.5em;
}