/*******************************************************
 	General rules
 *******************************************************/
body {
	background-color: #ffffff;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 75%;
	color: #666666;
}

p {
	font-size: 1em;
	font-weight: normal;
	line-height: 1.5;
	margin: 10px 0;
}

a,a:link,a:visited {
	color: #27638C;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/*******************************************************
 	Defines the general layout of the page
 	See: http://matthewjamestaylor.com/blog/perfect-2-column-left-menu.htm
 *******************************************************/
.colmask {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
}

/* common column settings */
.colleft {
	float: left;
	width: 100%;
	position: relative;
}

.col1,.col2 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
}

/* 2 Column (left menu) settings */
.leftmenu {
	background: none repeat scroll 0 0 #fff;
}

.leftmenu .colleft {
	right: 80%; /* right column width */
	background: #F5F5F5; /* left column background colour */
}

.leftmenu .col1 {
	width: 76%; /* right column content width */
	left: 102%; /* 100% plus left column left padding */
}

.leftmenu .col2 {
	width: 18%; /* left column content width (column width minus left and right padding) */
	left: 5%; /* (right column left and right padding) plus (left column left padding) */
}

/*******************************************************
 	Define the layout
 *******************************************************/
#page {
	margin: 0;
	width: 100%;
	min-width: 960px;
}

#header {
	background-color: inherit;
	margin-left: 2.5em;
}

#header-left {
	margin: 1.5em 1em;
}

#header-left #header-logo {
	float: left;
	margin-right: 1.5em;
}

#header-left #header-text {
	font-size: 2em;
	font-weight: bold;
}

#header-left #header-text a {
	color: #000;
	text-decoration: none;
}

#header-left #header-desc {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}

#primary-menu-wrapper {
	margin-right: 3em;
	margin-left: 3em;
}

#primary-menu {
	display: block;
	position: relative;
	float: right;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}

#primary-menu ul.menu {
	border: medium none;
	list-style: none outside none;
	text-align: left;
}

#primary-menu ul.menu li {
	background: url("../images/widgets/tab/tab-left.png") no-repeat scroll left 0 transparent;
	display: block;
	float: left;
	margin: 0 4px 0 0;
	padding: 0 0 0 1.5em;
	position: relative;
	width: auto;
}

#primary-menu ul.menu li a {
	background: url("../images/widgets/tab/tab-right.png") no-repeat scroll right 0 transparent;
	color: #154B70;
	display: block;
	padding: 0.5em 2em 0.5em 0;
	text-decoration: none;
}

#primary-menu ul.menu li:hover,#primary-menu ul.menu li.active {
	background-position: left -30px;
}

#primary-menu ul.menu li a:hover,#primary-menu ul.menu li:hover a,#primary-menu ul.menu li.active a {
	background-position: right -30px;
	color: #FFFFFF;
}

#spacer {
	height: 30px;
	background: #9A0000;
	border-bottom: 5px solid #000;
	background: #9A0000;
}

#menu-wrapper {
	margin-top: 1em;
}

#content-wrapper {
	margin-top: 1.5em;
}

#page-header {
	height: 3em;
	color: #545454;
	margin-bottom: 1em;
	border-bottom: 1px dashed #DFDFDF;
}

#page-title img {
	float: left;
	position: relative;
	margin-right: 1em;
}

#page-title h2 {
	font-size: 1.8em;
	padding-top: 0.2em;
}

#page-header .toolbar {
	float: right;
	padding: 0em;
	margin-top: -3.5em;
}

#page-header .toolbar ul {
	list-style: none;
}

#page-header .toolbar li {
	float: right;
	margin-right: 1em;
}

#page-header .toolbar li a {
	display: block;
	text-align: center;
	border: 1px solid #fff;
	overflow: visible;
}

#page-header .toolbar li a:hover {
	border: 1px solid #DFDFDF;
}

#page-header .toolbarText {
	color: #545454;
	display: block;
}

#footer {
	color: #666;
	clear: both;
	display: block;
	font-size: 0.9em;
	margin: auto 0;
	padding: 5px 0;
	text-align: center;
	clear: both;
	border-bottom: 1px solid #666;
	border-top: 1px solid #666;
}