/*******************************************************
 	Font rules
 *******************************************************/
strong,.bold {
	font-weight: bold
}

.italic {
	font-style: italic;
}

.title {
	font-size: 1.5em;
}

.left {
	float: left;
}

.right {
	float: right;
}

/*******************************************************
 	General
 *******************************************************/
.actionText {
	text-decoration: underline;
}

.actionImage {
	top: 0.2em;
	position: relative;
	padding-right: 0.6em;
}

.leftColumn {
	width: 48%;
	float: left;
}

.rightColumn {
	width: 48%;
	float: right;
}

/*******************************************************
 	Navigation bar
 *******************************************************/
#user-info {
	float: left;
	display: block;
	font-size: 1.1em;
	margin-left: 0.8em;
}

#user-info .greeting {
	font-weight: bold;
	color: #9A0000;
}

#user-info a {
	color: #004B91;
	text-decoration: underline;
}

/*******************************************************
 	Form
 *******************************************************/
fieldset.defaultStyle {
	float: left;
	clear: both;
	width: 100%;
	border-style: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #F5F5F5;
}

fieldset.defaultStyle legend {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.4em;
	border-bottom: 1px solid #000000;
}

fieldset.defaultStyle li {
	clear: both;
	padding: 0.5em;
}

fieldset.defaultStyle ol li.left {
	clear: left !important;
	float: left;
}

fieldset.defaultStyle ol li.right {
	clear: none !important;
	float: right;
}

fieldset.defaultStyle ol li.left,fieldset.defaultStyle ol li.right {
	width: 47% !important;
}

fieldset.defaultStyle label {
	float: left;
	width: 10em;
	color: #000;
	padding-right: 2em;
	padding-top: 0.5em;
	font-weight: bold;
	font-size: 1.1em;
	text-align: right;
	position: relative;
}

fieldset.defaultStyle label em.required {
	left: 11em;
	top: 0.5em;
	width: 16px;
	color: #fff;
	position: absolute;
	background: transparent url("../images/custom/mandatory.png") no-repeat
		scroll center;
}

fieldset.defaultStyle label.leftAligned {
	text-align: left;
	width: 5em;
}

fieldset.defaultStyle .input {
	float: left;
	padding: 4px 2px;
	margin-right: 0.5em;
}

fieldset.defaultStyle .leftDecorator {
	position: relative;
	top: 0.3em;
}

fieldset.defaultStyle .leftDateDecorator {
	float: left;
	margin-left: -0.6em;
}

fieldset.defaultStyle .input input {
	height: 20px;
	font-size: 1.1em;
}

fieldset.defaultStyle .largeInput input {
	height: 20px;
	width: 20em;
}

fieldset.defaultStyle .input .loginButton {
	height: 28px;
	width: 12em;
}

fieldset.defaultStyle .input .textfield {
	width: 100%;
}

fieldset.defaultStyle .rich-calendar-button {
	margin-right: 1.5em;
}

fieldset.defaultStyle .rich-calendar-input,fieldset.defaultStyle .rich-calendar-button
	{
	margin-top: -0.3em;
}

fieldset.defaultStyle .input span.hint {
	color: #5C5C5C;
	display: block;
	margin-top: 0.8em;
	font-size: 0.9em;
	font-style: italic;
}

fieldset.defaultStyle .input span.error {
	color: #9A0000;
	display: block;
	margin-top: 0.8em;
	font-size: 0.9em;
	font-weight: bold;
}

fieldset.last {
	border-top: 2px solid #636363;
}

fieldset.defaultStyle .actionBar {
	padding: 1em;
	height: 2em;
	float: right;
}

fieldset.defaultStyle a.button {
	color: #000;
	display: block;
	float: left;
	height: 24px;
	font-weight: bold;
	margin-right: 6px;
	padding-right: 18px;
	margin-top: 3px;
	text-decoration: none;
	background: transparent url("../images/custom/bg_button_a.png")
		no-repeat scroll top right;
}

fieldset.defaultStyle a.button span {
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
	background: transparent url("../images/custom/bg_button_b.png")
		no-repeat;
}

fieldset.defaultStyle a.button:active {
	color: #000;
	outline: none;
	background-position: bottom right;
}

fieldset.defaultStyle a.button:active span {
	padding: 6px 0 4px 18px;
	background-position: bottom left;
}

fieldset.defaultStyle a.button img.buttonWithImage {
	float: left;
	padding-top: 0.3em;
	padding-left: 0.9em;
}

fieldset.defaultStyle a.button span.buttonWithImage {
	margin-left: 0.4em;
	padding: 5px 0 5px 25px;
}

fieldset.defaultStyle .box {
	clear: both;
	position: relative;
	top: 1em;
	padding: 0.6em;
	margin-top: 1.2em;
	margin-bottom: 1em;
	display: block;
	border-top: 1px dashed #cdcdcd;
}

fieldset.defaultStyle .box .deleteImage {
	position: relative;
	top: 0.25em;
}

/***********************************************************
 Tab styling
 **********************************************************/
.defaultTabPanelStyle .rich-panel {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.defaultTabHeaderStyle .rich-tabhdr-cell-active,.defaultTabHeaderStyle .rich-tabhdr-cell-inactive
	{
	padding-right: 2px;
}

.defaultTabHeaderStyle .rich-tabhdr-cell-active {
	font-weight: bold;
}

.defaultTabPanelStyle .rich-tabpanel-content {
	border: 0px;
}

.defaultTabPanelStyle .rich-panel-body {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.defaultTabStyle {
	padding: 5px 10px;
}

/***********************************************************
 Table styling
 **********************************************************/
.defaultScroller {
	width: 100%;
	margin-bottom: 0.5em;
}

.defaultScroller .rich-dtascroller-table {
	width: 100%;
	height: 2em;
}

.defaultScroller .rich-datascr-act {
	border-bottom: 2px solid #000;
}

table.defaultStyle,table.bigTable,table.editorTable {
	width: 100%;
}

table.defaultStyle th {
	text-align: center;
	font-weight: bold;
	padding: 0.6em;
	background-color: #BED6F8;
}

table.defaultStyle tr {
	border: 1px solid #BBBBBB;
	padding: 3px 4px;
}

table.defaultStyle td {
	border: 0px;
	border-bottom: 1px solid #BBBBBB;
}

td.smallColumn {
	width: 2em;
	text-align: center;
}

td.mediumColumn {
	width: 20%;
}

td.largeColumn {
	width: 30%;
}

table.defaultStyle .center {
	text-align: center;
}

/***********************************************************
 Table Editor styling
 **********************************************************/
.rich-inplace-view {
	border: 0px;
}

.rich-inplace-changed {
	border: 0px;
	background-color: #FFE9A8;
}

/***********************************************************
 Toggle panel styling
 **********************************************************/
.defaultToggleStyle {
	margin-bottom: 1em;
}

/***********************************************************
  Panel styling
 **********************************************************/
.rich-stglpanel-body {
	margin: 0px;
	padding: 0px;
}

/***********************************************************
 Tab panel styling
 **********************************************************/
.emptyBox {
	padding: 0.8em;
	border-left: 1px solid #BBBBBB;
	border-right: 1px solid #BBBBBB;
	border-bottom: 1px solid #BBBBBB;
}

/***********************************************************
 Link styling
 **********************************************************/
ul.linkList li {
	list-style: square;
	margin-bottom: 1em;
}

ul.linkList a.linkUrl {
	font-weight: bold;
	display: block;
	text-decoration: underline;
}

ul.linkList a.linkDescription {
	display: block;
	color: #c5c5c5;
	padding-top: 0.2em;
}

/***********************************************************
 Service styling
 **********************************************************/
div#serviceCaption {
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #CCCCCC;
}

div#serviceSection ul.column {
	width: 100%;
	padding: 0;
	margin-top: 2em;
	list-style: none;
}

div#serviceSection ul.column li {
	float: left;
	width: 280px;
	margin-bottom: 1.5em;
	padding-bottom: 0.5em;
	display: inline;
	border-bottom: dashed 1px #545454;
}

div#serviceSection .block {
	font-size: 1em;
	height: 100px;
	margin-right: 2em;
	padding: 0 0.5em 0 4em;
}

div#serviceSection .block h4 {
	font-size: 1.5em;
	font-weight: bold;
	color: #545454;
	text-decoration: underline;
}

div#serviceSection .userImage {
	background: url(../images/32x32/users.png) no-repeat scroll left top;
}

div#serviceSection .vehicleImage {
	background: url(../images/32x32/vehicle.png) no-repeat scroll left top;
}

div#serviceSection .competenceImage {
	background: url(../images/32x32/books.png) no-repeat scroll left top;
}

div#serviceSection .assignmentImage {
	background: url(../images/32x32/components.png) no-repeat scroll left
		top;
}

div#serviceSection .serviceTypeImage {
	background: url(../images/32x32/profile.png) no-repeat scroll left top;
}

div#serviceSection .locationImage {
	background: url(../images/32x32/building.png) no-repeat scroll left top;
}

div#serviceSection .securedResourceImage {
	background: url(../images/32x32/securedResource.png) no-repeat scroll
		left top;
}

div#serviceSection .securedActionImage {
	background: url(../images/32x32/securedAction.png) no-repeat scroll left
		top;
}

div#serviceSection .groupImage {
	background: url(../images/32x32/users.png) no-repeat scroll left top;
}

div#serviceSection .usersImage {
	background: url(../images/32x32/users.png) no-repeat scroll left top;
}

div#serviceSection .linkImage {
	background: url(../images/32x32/web.png) no-repeat scroll left top;
}

div#serviceSection .categoryImage {
	background: url(../images/32x32/profile.png) no-repeat scroll left top;
}

div#serviceSection .rosterImage {
	background: url(../images/32x32/calendar.png) no-repeat scroll left top;
}

div#serviceSection .infoImage {
	background: url(../images/32x32/info.png) no-repeat scroll left top;
}

/***********************************************************
 Tooltip styling
 **********************************************************/
.tooltipDefault {
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 5px;
	position: relative;
	background: #fff;
	min-width: 100px;
	text-align: left;
	border: 2px solid #636363;
}

.tooltipDefault .tooltip-image {
	height: 20px;
	width: 20px;
	bottom: -20px;
	position: absolute;
	background: url("../images/custom/arrow.png") no-repeat scroll 0 0
		transparent;
}

.tooltipDefault ul,.tooltipDefault ol {
	margin-left: 20px;
}

.tooltipDefault ul li {
	list-style-type: square;
}

.tooltipDefault ol li {
	list-style-type: decimal;
}

/***********************************************************
 Message box styling
 **********************************************************/
.rich-messages {
	margin: 1em 0em 0.5em;
}

.infoMessage,.successMessage,.warningMessage,.errorMessage {
	border: 1px solid;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.infoMessage {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url("../images/32x32/info.png");
}

.successMessage {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url("../images/32x32/success.png");
}

.warningMessage {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("../images/32x32/warning.png");
}

.errorMessage {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("../images/32x32/error.png");
}

/***********************************************************
   Modal Panels
 **********************************************************/
.rich-mpnl-header {
	border: 0px;
	color: #fff;
	height: 2em;
	font-size: 1.1em; padding-top : 1em;
	padding-left: 0.5em;
	font-weight: bold;
	background: #9A0000;
	border-bottom: 1px solid #000;
	padding-top: 1em;
}

.rich-mpnl-body {
	padding: 0px;
}

.tacos-mpnl-wrapper {
	position: relative;
}

.tacos-mpnl-wrapper .label {
	width: 8em;
	float: left;
	clear: both;
	display: block;
	padding-right: 1em; text-align : right;
	font-weight: bold;
	text-align: right;
}

.tacos-mpnl-wrapper .linkText {
	margin-left: 0.4em;
}

.tacos-mpnl-wrapper .linkImage {
	position: relative;
	top: 0.3em;
}

.tacos-mpnl-body {
	padding: 1em;
}

.tacos-mpnl-footer {
	bottom: 0px;
	width: 100%;
	position: absolute;
	padding-top: 0.5em;
	padding-bottom: 1em;
	background: #9A0000;
	border-top: 1px solid #000;
}

.tacos-mpnl-footer .left {
	padding-left: 1em;
}

.tacos-mpnl-footer .right {
	padding-right: 1em;
}

.tacos-mpnl-footer a {
	color: #fff;
}

.tacos-mpnl-footer a:hover {
	text-decoration: underline
}
