/*******************************************************
 	Font rules
 *******************************************************/
strong, .bold {
	font-weight: bold
}

.italic {
	font-style: italic;
}

h2.title {
	font-size: 1.5em;
}

/*******************************************************
 	Form
 *******************************************************/
fieldset.defaultStyle {
	float: left;
	clear: both;
	width: 100%;
	border-style: none;
	margin-bottom: 1em;
}

fieldset.defaultStyle legend {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 1em;
	border-bottom: 1px solid #000000;
}

fieldset.defaultStyle li {
	padding: 8px 10px;
}

fieldset.defaultStyle label {
	float: left;
	width: 10em;
	color: #000;
	padding-top: 0.2em;
	font-weight: bold;
	font-size: 1.1em;
}

fieldset.defaultStyle .input {
	padding-left: 12em;
	padding-right: 3em;
	word-wrap: break-word;
}

fieldset.defaultStyle .input input {
	height: 20px;
	font-size: 1.1em;
}

fieldset.defaultStyle .rich-calendar-button {
	margin-right: 1.5em;
}

fieldset.defaultStyle .rich-calendar-input,fieldset.defaultStyle .rich-calendar-button {
	margin-top: -0.3em;
}

fieldset.defaultStyle .input span.hint {
	color: #5C5C5C;
	display: block;
	margin-top: 1em;
	font-size: 0.9em;
	font-style: italic;
}

fieldset.defaultStyle .input span.error {
	color: #9A0000;
	display: block;
	margin-top: 1em;
	font-size: 0.9em;
	font-weight: bold;
}

/***********************************************************
 Table styling
 **********************************************************/
table.defaultStyle {
	width: 100%;
	border-collapse: collapse;
}

table.defaultStyle th {
	text-align: left;
	text-align: center;
}

table.defaultStyle tr {
	border: 1px solid #BBBBBB;
	padding: 3px 4px;
}

table.defaultStyle td {
	border: 0px;
	border-bottom: 1px solid #BBBBBB;
}

table.defaultStyle .rich-table-firstrow {
	height:3em;
	font-weight: bold;
	text-align: center;
	background: #636363;
}

table.defaultStyle .rich-table-firstrow td {
	color: #fff;
	font-size: 1.2em;
}

table.defaultStyle .smallColumn {
	width: 2em;
	text-align: center;
}

table.defaultStyle .mediumColumn {
	width: 20%;
}

table.defaultStyle .largeColumn {
	width: 30%;
}

table.defaultStyle .center {
	text-align: center;
}

/***********************************************************
 Tooltip styling
 **********************************************************/
.tooltipDefault {
	min-width:150px;
	min-height:100px;
	display:block;
	border:2px solid #000;
	background:#fff;
}
	
