/*******************************************************
 	Font rules
 *******************************************************/
strong,.bold {
	font-weight: bold
}

.italic {
	font-style: italic;
}

h2.title {
	font-size: 1.5em;
}

/*******************************************************
 	General
 *******************************************************/
.actionText {
	text-decoration: underline;
}

.actionImage {
	top: 0.2em;
	position: relative;
	padding-right: 0.6em;
}

.leftColumn {
	width:48%;
	float:left;
}

.rightColumn {
	width:48%;
	float:right;
}

/*******************************************************
 	Form
 *******************************************************/
fieldset.defaultStyle {
	float: left;
	clear: both;
	width: 100%;
	border-style: none;
	margin-bottom: 1em;
}

fieldset.defaultStyle legend {
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.4em;
	border-bottom: 1px solid #000000;
}

fieldset.defaultStyle li {
	padding: 8px 10px;
}

fieldset.defaultStyle label {
	float: left;
	width: 10em;
	color: #000;
	padding-top: 0.2em;
	font-weight: bold;
	font-size: 1.1em;
}

fieldset.defaultStyle .input {
	padding-left: 12em;
	padding-right: 3em;
	word-wrap: break-word;
}

fieldset.defaultStyle .input input {
	height: 20px;
	font-size: 1.1em;
}

fieldset.defaultStyle .input .textfield {
	width: 100%;
}

fieldset.defaultStyle .rich-calendar-button {
	margin-right: 1.5em;
}

fieldset.defaultStyle .rich-calendar-input,fieldset.defaultStyle .rich-calendar-button
	{
	margin-top: -0.3em;
}

fieldset.defaultStyle .input span.hint {
	color: #5C5C5C;
	display: block;
	margin-top: 0.8em;
	font-size: 0.9em;
	font-style: italic;
}

fieldset.defaultStyle .input span.error {
	color: #9A0000;
	display: block;
	margin-top: 0.8em;
	font-size: 0.9em;
	font-weight: bold;
}

fieldset.last {
	border-top: 2px solid #636363;
}

fieldset.defaultStyle .actionBar {
	padding: 1em;
	height: 2em;
	float: right;
}

fieldset.defaultStyle .actionBar a.button {
	color: #000;
	display: block;
	float: left;
	height: 24px;
	font-weight: bold;
	margin-right: 6px;
	padding-right: 18px;
	text-decoration: none;
	background: transparent url("../images/widgets/button/bg_button_a.gif")
		no-repeat scroll top right;
}

fieldset.defaultStyle .actionBar a.button span {
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
	background: transparent
		url("../images/widgets/button/bg_button_span.gif") no-repeat;
}

fieldset.defaultStyle .actionBar a.button:active {
	color: #000;
	outline: none;
	background-position: bottom right;
}

fieldset.defaultStyle .actionBar a.button:active span {
	padding: 6px 0 4px 18px;
	background-position: bottom left;
}

/***********************************************************
 Table styling
 **********************************************************/
table.defaultStyle {
	width: 100%;
	border-collapse: collapse;
}

table.defaultStyle th {
	text-align: left;
	text-align: center;
}

table.defaultStyle tr {
	border: 1px solid #BBBBBB;
	padding: 3px 4px;
}

table.defaultStyle td {
	border: 0px;
	border-bottom: 1px solid #BBBBBB;
}

table.defaultStyle .rich-table-row {
	height: 3em;
	font-weight: bold;
	text-align: center;
	background: #636363;
}

table.defaultStyle .rich-table-row td {
	color: #fff;
	font-size: 1.2em;
}

table.defaultStyle .smallColumn {
	width: 2em;
	text-align: center;
}

table.defaultStyle .mediumColumn {
	width: 20%;
}

table.defaultStyle .largeColumn {
	width: 30%;
}

table.defaultStyle .center {
	text-align: center;
}

/***********************************************************
 Toggle panel styling
 **********************************************************/
.defaultToggleStyle {
	margin-bottom:1em;
}
 
.defaultToggleBodyStyle {
	
}

/***********************************************************
 Tooltip styling
 **********************************************************/
.tooltipDefault {
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 5px;
	position: relative;
	background: #fff;
	min-width: 100px;
	text-align: left;
	border: 2px solid #636363;
}

.tooltipDefault .tooltip-image {
	height: 20px;
	width: 20px;
	bottom: -20px;
	position: absolute;
	background: url("../images/widgets/round/arrow.png") no-repeat scroll 0
		0 transparent;
}

.tooltipDefault ul,.tooltipDefault ol {
	margin-left: 20px;
}

.tooltipDefault ul li {
	list-style-type: square;
}

.tooltipDefault ol li {
	list-style-type: decimal;
}

/***********************************************************
 Message box styling
 **********************************************************/
.infoMessage,.successMessage,.warningMessage,.errorMessage {
	border: 1px solid;
	margin: 10px 5px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.infoMessage {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url("../images/messages/info.png");
}

.successMessage {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url("../images/messages/success.png");
}

.warningMessage {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url("../images/messages/warning.png");
}

.errorMessage {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("../images/messages/error.png");
}

/***********************************************************
   Modal Panels
 **********************************************************/
.rich-mpnl-header {
	border: 0px;
	padding-top: 1em;
	padding-left: 0.5em;
	font-weight: bold;
	color: #fff;
	background: #9A0000;
	border-bottom: 1px solid #000;
}