/*******************************************************
 	Alternative layout style
 *******************************************************/
.header {
	margin-top: 2.5em;
	margin-bottom: 1em;
}

#header-left #header-text {
	font-size: 2.4em;
}

.container {
	clear: both;
	width: 100%;
	border-top: 30px solid #9A0000;
	border-bottom: 30px solid #9A0000;
	background-color: #DBDBDB;
}

.container-center {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.container-left {
	position: relative;
	float: left;
	left: -6em;
	top: -1.5em;
	width: 35em;
}

.container-right {
	position: relative;
	float: right;
	padding: 3em;
	top: -6em;
	width: 22em;
	position: relative;
	background: #fff;
	border: 2px solid #9A0000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.container-text {
	padding: 3em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	background: #fff;
	border: 2px solid #9A0000;
	background: #fff;
}

.footer {
	clear: both;
	margin-top: 2em;
}

.footer .description {
	color: #000;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.8em;
}

.actionBar {
	clear: both;
	display: block;
	padding-top: 1em;
}

.actionBar input {
	padding: 0.2em 1.5em;
	margin-right: 0.8em;
}

.helpBar {
	margin-top: 1.5em;
}

fieldset.defaultStyle .rich-messages {
	padding: 0.5em;
	margin-bottom:1em;
	background-color: #F9DDD9;
	border: 1px solid #E4978C;
}

fieldset.defaultStyle dt {
	display: block;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

fieldset.defaultStyle dt.error span {
	color: #9A0000;
	font-size: 0.9em;
	font-weight: bold;
	padding-left: 2em;
	background: url("../images/16x16/error.png") no-repeat left center;
}

fieldset.defaultStyle .actionLink {
	display: block;
	font-weight: bold;
	text-align: center;
}

fieldset.defaultStyle li {
	margin-bottom: 0.6em;
}

fieldset.defaultStyle h2 {
	color: #000;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
}

fieldset.defaultStyle label {
	display: block;
	font-weight: bold;
	margin-top: 3px;
	color: #000;
	font-size: 1em;
}

fieldset.defaultStyle .input {
	display: block;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
}

fieldset.defaultStyle .input input[type="text"],fieldset.defaultStyle .input input[type="password"]
	{
	width: 21em;
	margin-bottom: 5px;
	display: block;
	padding: 4px;
	border: solid 1px #cfcfcf;
}

fieldset.defaultStyle .input span.error {
	color: #9A0000;
	display: block;
	margin-top: 0.8em;
	font-size: 0.9em;
	font-weight: bold;
}

fieldset.defaultStyle a.button {
	color: #000;
	display: block;
	height: 24px;
	font-weight: bold;
	margin-right: 6px;
	padding-right: 18px;
	margin-top: 3px;
	text-decoration: none;
	background: transparent url("../images/custom/bg_button_a.png")
		no-repeat scroll top right;
	font-weight: bold;
}

fieldset.defaultStyle a.button span {
	line-height: 14px;
	padding: 5px 0 5px 18px;
	text-align: center;
	background: transparent url("../images/custom/bg_button_b.png")
		no-repeat;
}