<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="serverApp"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="at.rc.taocs.server.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.rc.tacos.server.serverApp"
            name="TacosServer">
         <property
               name="appName"
               value="TacosServer">
         </property>
      </product>
   </extension>

</plugin>
