<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.rc.tacos.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ClientPerspective"
            class="at.rc.tacos.client.perspectives.Perspective"
            id="at.rc.tacos.client.perspectives.client">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.AdminPerspective"
            id="at.rc.tacos.client.perspectives.admin"
            name="AdministratorPerspective">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.TransportPerspective"
            id="at.rc.tacos.client.perspectives.transport"
            name="TransportPerspective">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.LogPerspective"
            id="at.rc.tacos.client.perspectives.log"
            name="LogPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.rc.tacos.client.application"
            name="TACOS-Client">
         <property
               name="aboutText"
               value="Austrian Red Cross.&#x0A;Time and Configuration Management">
         </property>
         <property
               name="windowImages"
               value="icons/application/alt_window_16.gif,icons/application/alt_window_32.gif,icons/application/alt_window_48.gif,icons/application/alt_window_64.gif,icons/application/alt_window_128.gif">
         </property>
         <property
               name="appName"
               value="TACOS-Client">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="RessourcesView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.VehiclesView"
            id="at.rc.tacos.client.view.ressources_view">
      </view>
      <view
            name="PersonalView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.PersonalView"
            id="at.rc.tacos.client.view.personal_view">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.InfoView"
            id="at.rc.tacos.client.view.info"
            name="InfoView">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.FilterView"
            id="at.rc.tacos.client.view.filter"
            name="FilterView">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.StaffMemberView"
            id="at.rc.tacos.client.view.admin.staffMemberView"
            name="StaffAdminView">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.VehicleAdminView"
            id="at.rc.tacos.client.view.admin.vehicleAdminView"
            name="VehicleAdminView">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.PhoneAdminView"
            id="at.rc.tacos.client.view.admin.phoneAdminView"
            name="PhoneAdminView">
      </view>
      <view
            name="DispositionView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.UnderwayTransportsView"
            id="at.rc.tacos.client.view.disposition_view">
      </view>
      <view
            name="OutstandingTransportsView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.OutstandingTransportsView"
            id="at.rc.tacos.client.view.outstandingTransports_view">
      </view>
      <view
            name="JournalView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.JournalView"
            id="at.rc.tacos.client.view.journal_view">
      </view>
      <view
            name="PrebookingView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.PrebookingView"
            id="at.rc.tacos.client.view.prebooking_view">
      </view>
      <view
            name="DialysisView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.DialysisView"
            id="at.rc.tacos.client.view.dialysis_view">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.NavigationView"
            id="at.rc.tacos.client.view.navigation"
            name="NavigationView">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.LogHeaderView"
            id="at.rc.tacos.client.view.logHeader"
            name="LogHeaderView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="at.rc.tacos.client.splashHandlers.InteractiveSplashHandler"
            id="at.rc.tacos.client.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="at.rc.tacos.client.product"
            splashId="at.rc.tacos.client.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.rc.tacos.client.editors.MobilePhoneEditor"
            id="at.rc.tacos.client.editors.mobilePhoneEditor"
            name="MobilePhone Editor"
            icon="icons/vehicle/handy.gif">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.StaffMemberEditor"
            id="at.rc.tacos.client.editors.staffMemberEditor"
            name="StaffMember Editor"
            icon="icons/personal/user.png">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.VehicleDetailEditor"
            id="at.rc.tacos.client.editors.vehicleDetailEditor"
            name="Vehicle Editor"
            icon="icons/personal/bereitschaft.png">
      </editor>
   </extension>
</plugin>
