<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.rc.tacos.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Resourcen"
            class="at.rc.tacos.client.perspectives.Perspective"
            id="at.rc.tacos.client.perspectives.client">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.TransportPerspective"
            id="at.rc.tacos.client.perspectives.transport"
            name="Transporte">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.TransportPrebookingPerspective"
            id="at.rc.tacos.client.perspectives.transportPrebooking"
            name="Vormerkungen">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.TransportDialysePerspective"
            id="at.rc.tacos.client.perspectives.transportDialyse"
            name="Dialyse">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.TransportJournalPerspective"
            id="at.rc.tacos.client.perspectives.transportJournal"
            name="JournalBlatt">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.AdminPerspective"
            id="at.rc.tacos.client.perspectives.admin"
            name="Administration">
      </perspective>
      <perspective
            class="at.rc.tacos.client.perspectives.LogPerspective"
            id="at.rc.tacos.client.perspectives.log"
            name="LogPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.rc.tacos.client.application"
            name="TACOS-Client">
         <property
               name="aboutText"
               value="Austrian Red Cross.&#x0A;Time and Configuration Management">
         </property>
         <property
               name="windowImages"
               value="icons/application/alt_window_16.gif,icons/application/alt_window_32.gif,icons/application/alt_window_48.gif,icons/application/alt_window_64.gif,icons/application/alt_window_128.gif">
         </property>
         <property
               name="appName"
               value="TACOS-Client">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Fahrzeugübersicht"
            allowMultiple="false"
            class="at.rc.tacos.client.view.VehiclesView"
            icon="icons/resources/vehicle.png"
            id="at.rc.tacos.client.view.ressources_view">
      </view>
      <view
            name="Personalübersicht"
            allowMultiple="false"
            class="at.rc.tacos.client.view.PersonalView"
            icon="icons/resources/user.png"
            id="at.rc.tacos.client.view.personal_view">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.FilterView"
            id="at.rc.tacos.client.view.filter"
            name="Transport Filter">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.VehicleAdminView"
            id="at.rc.tacos.client.view.admin.vehicleAdminView"
            icon="icons/resources/vehicle.png"
            name="Fahrzeuge">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.PhoneAdminView"
            id="at.rc.tacos.client.view.admin.phoneAdminView"
            icon="icons/resources/mobilePhone.png"
            name="Mobiltelefone">
      </view>
      <view
            name="DispositionView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.UnderwayTransportsView"
            icon="icons/toolbar/viewTransport.png"
            id="at.rc.tacos.client.view.disposition_view">
      </view>
      <view
            name="OutstandingTransportsView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.OutstandingTransportsView"
            icon="icons/toolbar/viewTransport.png"
            id="at.rc.tacos.client.view.outstandingTransports_view">
      </view>
      <view
            name="Journal"
            allowMultiple="false"
            class="at.rc.tacos.client.view.JournalView"
            icon="icons/toolbar/viewTransportJournal.png"
            id="at.rc.tacos.client.view.journal_view">
      </view>
      <view
            name="PrebookingView"
            allowMultiple="false"
            class="at.rc.tacos.client.view.PrebookingView"
            icon="icons/toolbar/viewTransportPrebooking.png"
            id="at.rc.tacos.client.view.prebooking_view">
      </view>
      <view
            name="Dialyse Patienten"
            allowMultiple="false"
            class="at.rc.tacos.client.view.DialysisView"
            icon="icons/transport/viewTransportDialyse.png"
            id="at.rc.tacos.client.view.dialysis_view">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.LogHeaderView"
            id="at.rc.tacos.client.view.logHeader"
            icon="icons/toolbar/viewLog.png"
            name="Logging">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.ServiceTypeAdminView"
            id="at.rc.tacos.client.view.admin.serviceTypeAdminView"
            icon="icons/resources/serviceType.png"
            name="Dienstverhältnisse">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.LocationAdminView"
            id="at.rc.tacos.client.view.admin.locationAdminView"
            icon="icons/resources/location.png"
            name="Dienststellen">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.StaffMemberAdminView"
            id="at.rc.tacos.client.view.admin.staffMemberAdminView"
            icon="icons/resources/user.png"
            name="Mitarbeiter">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.CompetenceAdminView"
            id="at.rc.tacos.client.view.admin.competenceAdminView"
            icon="icons/resources/competence.png"
            name="Kompetenzen">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.admin.JobAdminView"
            id="at.rc.tacos.client.view.admin.jobAdminView"
            icon="icons/resources/job.png"
            name="Verwendungen">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.NavigationTransportView"
            id="at.rc.tacos.client.view.navigationTransport"
            name="Navigation Transport">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.InfoView"
            id="at.rc.tacos.client.view.info"
            name="Informationen">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.NavigationAdminView"
            id="at.rc.tacos.client.view.navigationAdmin"
            name="Navigation Admin">
      </view>
      <view
            allowMultiple="false"
            class="at.rc.tacos.client.view.NavigationView"
            id="at.rc.tacos.client.view.navigation"
            name="Navigation">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="at.rc.tacos.client.splashHandlers.InteractiveSplashHandler"
            id="at.rc.tacos.client.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="at.rc.tacos.client.product"
            splashId="at.rc.tacos.client.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="at.rc.tacos.client.editors.MobilePhoneEditor"
            id="at.rc.tacos.client.editors.mobilePhoneEditor"
            name="Mobiltelefone"
            icon="icons/resources/mobilePhone.png">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.StaffMemberEditor"
            id="at.rc.tacos.client.editors.staffMemberEditor"
            name="Mitarbeiter"
            icon="icons/resources/user.png">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.VehicleDetailEditor"
            id="at.rc.tacos.client.editors.vehicleDetailEditor"
            name="Fahrzeuge"
            icon="icons/resources/vehicle.png">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.CompetenceEditor"
            icon="icons/resources/competence.png"
            id="at.rc.tacos.client.editors.competenceEditor"
            name="Kompetenzen">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.JobEditor"
            icon="icons/resources/job.png"
            id="at.rc.tacos.client.editors.jobEditor"
            name="Verwendungen">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.LocationEditor"
            icon="icons/resources/location.png"
            id="at.rc.tacos.client.editors.locationEditor"
            name="Dienststellen">
      </editor>
      <editor
            class="at.rc.tacos.client.editors.ServiceTypeEditor"
            icon="icons/resources/serviceType.png"
            id="at.rc.tacos.client.editors.serviceTypeEditor"
            name="Dienstverhältnisse">
      </editor>
   </extension>
</plugin>
