<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="at.rc.tacos.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="ClientPerspective"
            class="at.rc.tacos.client.Perspective"
            id="at.rc.tacos.client.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="at.rc.tacos.client.application"
            name="TACOS-Client">
         <property
               name="aboutText"
               value="Austrian Red Cross.&#x0A;Time and Configuration Management">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif,icons/alt_window_48.gif,icons/alt_window_64.gif,icons/alt_window_128.gif">
         </property>
         <property
               name="appName"
               value="TACOS-Client">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="ItemView"
            allowMultiple="true"
            class="at.rc.tacos.client.view.View"
            id="at.rc.tacos.client.view.item_view">
      </view>
      <view
            name="FormView"
            allowMultiple="true"
            class="at.rc.tacos.client.view.FormView"
            id="at.rc.tacos.client.view.item_form">
      </view>
      
      <view
            name="RessourcesView"
            allowMultiple="true"
            class="at.rc.tacos.client.view.RessourcesView"
            id="at.rc.tacos.client.view.ressources_view">
      </view>
      
      <view
            name="PersonalView"
            allowMultiple="true"
            class="at.rc.tacos.client.view.PersonalView"
            id="at.rc.tacos.client.view.personal_view">
      </view>
      
      
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="at.rc.tacos.client.splashHandlers.InteractiveSplashHandler"
            id="at.rc.tacos.client.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="at.rc.tacos.client.product"
            splashId="at.rc.tacos.client.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
